* {
  font-family: "Roboto";
}

header {
  background-color: #012438;
}
header p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
header .logo p {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 900;
}
header .logo p:first-child {
  color: #008f02;
}
header .logo p:last-child {
  color: #fff;
}
header .logo .logo-img {
  width: 40px;
  height: 50px;
}
header .nav-header .nav-link {
  font-size: 24px;
  font-weight: 500;
}
header .nav-header .link-primary {
  color: #17ac19;
}
header .nav-header .link-secondary {
  color: #fff;
}
header .student p {
  color: #fff;
  margin-bottom: 0;
  padding: 0 16px;
}
header img {
  height: 30px;
  width: 30px;
}
header .fa-circle {
  font-size: 10px;
  color: #fff;
}
header .exit {
  cursor: pointer;
}

.btn {
  background-color: #008f02;
  color: #fff;
}
.btn:hover {
  background-color: #007802;
  color: #fff;
}
.btn:focus {
  background-color: #17ac19;
}

main h1 {
  border-bottom: 2px solid #008f02;
}