// $primary-color: #012438;
// $bg-color-header: #0A2B3E;

// $secondary-color: #008F02;
// $secondary-color-hover: #007802;
// $secondary-color-focus: #17AC19;

// $font-color-primary: #141414;
// $font-color-secondary: #FAFAFA;
// $font-color-error: #DC3545;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);